.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 700px;
    margin: 10px auto;
    /* border: 1px solid black; */
    gap: 10px;
    place-items: center;
    box-sizing: border-box;

}

.box {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    cursor: pointer;
    transition: all ease-out 0.1s;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1,
p {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

